<nav class="navbar navbar-expand-lg bg-light text-light">
  <a [routerLink]="['']" class="navbar-brand">TM-Ecommercial</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" [routerLink]="['']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" [routerLink]="['products']" routerLinkActive="active">Products</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Checkout</button>
  </div>
</nav>
