<!--<li class="list-group-item list-group-item-light title" style="cursor: pointer" (click)="onClickItem()">-->
<li class="list-group-item list-group-item-light title">
  <div class="row">
    <div class="col-11">
<!--      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">-->
      <a [title]="product.name + ' details'" style="cursor: pointer" (click)="onClickItem()">
      {{ product.name }}<br>
        <p class="subtitle" *ngIf="product.desc || product.price">Description: {{ product.desc }}<br>
          Price: ${{ product.price }}</p>
      </a>
      <button class="btn btn-primary" (click)="share()">share</button>
    </div>
    <div class="col-1" style="margin-top: auto; margin-bottom: auto">
      <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
    </div>
  </div>
</li>
